{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if admin %}
<table class="tab brown hd" bgcolor="black">
	<tr><br><br>
		<td>Hello, {{admin}}</td>
	</tr>
</table>
{% endif %}

<table class="tab brown hd">
    <tr><br>
        <td>List of All Books</td>
    </tr>
</table><br><br><br><br><hr><br>

<div class="product-item-section section-fluid-270 section-top-gap-100">
    <div class="box-wrapper">
        <div class="product-item-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-3grids-1row" >
                            <div class="swiper-container">
                                <div class="swiper-wrapper"> 
                                    <div class="product-single-item-style-1 swiper-slide"  style="display: flex; flex-wrap: wrap; justify-content: center;">

                                        {% for book in all_books %}
                                        <div class="row">
                                        <div style="height: 450px; width: 500px; margin-left: 15%;">
                                            <img src="{{book.book_img.url}}" alt="image" class="img-fluid" style="height: 300px; width: 300px;">
                                        <div class="content">
                                            <div class="top">
                                                <span class="category">{{book.book_type}}</span>
                                                <h4 class="title">
                                                    {{book.book_name}}
                                                </h4>
                                                <span class="price">{{book.price}} Rs.  </span>
                                            </div>
                                            <div>
                                                <a href="{% url 'update_book_details' book.book_code %}"><button>Update Details</button></a> 
                                                <a href="{% url 'remove_book' book.book_code %}"><button>Remove Book</button></a>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

