{% extends 'base.html' %}

{% block content %}
	
	<table class="tab brown hd" bgcolor="black">
		<tr>
			<td>Admin Credantials:-</td>
		</tr>
	</table>

	<table class="tab" border="0px solid black">
		
		<tr>
			<td><a href="{% url 'add_book' %}">Add Book</a></td>
		</tr>
	</table>
	<table class="tab" border="0px solid black">
		<tr>
			<td><a href="{% url 'remove-book' %}"> Remove Book </a></td>
		</tr>
	</table>
	<table class="tab">
		<tr>
			<td><a href="{% url 'view_book_list' %}">Show Books List</a></td>
		</tr>
	</table>
	

{% endblock content %}