{% extends 'base.html' %}

{% block content %}
	
	<table class="tab hd brown">
		<tr>
			<td>USER LOGIN</td>
		</tr>
	</table>

	<table class="tab" border="0px" cellpadding="10" cellspacing="10">
		
		<tr>
			<td>
				<form action="" method="post">
					{% csrf_token %}
					Username: <input type="text" name="username"><br/><br/>
					Password: <input type="password" name="password"><br/><br/>
					<input type="submit" value=" LOGIN AS USER ">
				</form>
			</td>
			
		</tr>  
	</table>
	
{% endblock content %}