{% extends 'base.html' %}

{% block content %}
	
	<table class="tab brown hd">
		<tr>
			<td>Register Here</td>
		</tr>
	</table>

	<table class="tab" border="0px">
		
		<tr>
			<td>
				<form action="" method="post">
					{% csrf_token %}
					Username : <input type="text" name="username" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+.[a-z]$" required><br/><br/>
					Password : <input type="password" name="password" required><br/><br/>
					FirstName: <input type="text" name="firstname" required><br/><br/>
					Last Name: <input type="text" name="lastname" required><br/><br/>
					Address : <input type="text" name="address" required><br/><br/>
					Phone No : <input type="text" name="phone" required><br/><br/>
					Email Id : <input type="email" name="mailid" required><br/><br/>
					<input type="submit" value="SignUp">
				</form>
			</td>
			
		</tr>  
	</table>

{% endblock content %}