{% extends 'base.html' %}
{% load static %}
{% block content %}

<table class="tab brown hd">
    <tr><br><br>
        <td>List of All Liked Books</td>
    </tr>
</table>
<table class="tab">
    <tr>
        <td><a href="{% url 'view_book_list' %}">Show Books List</a></td>
    </tr>
</table>
<table class="tab brown hd">
    <tr>
        <td><div class="product-event-items">
            <a href="{% url 'view_cart' %}" class="btn cart-btn">
                <span class="material-icons">shopping_cart_border</span>
            </a>
            <a href="{% url 'view_liked_books' %}" class="btn wishlist-btn">
                <span class="material-icons">favorite_border</span>
            </a>
        </div>
    </td>
    </tr>
    
</table>
<br><br>

<div style="display: flex; padding: 50px;">
    
    <div>
        <h2>All Liked Books:</h2>
        {% for cart in liked_books%}

        <div style="display: flex; padding: 50px;">
            <div style="background-color: gray; padding-top: 25px;">
                <img src="{{cart.book.book_img.url}}" alt="image" class="img-fluid" style="height: 300px; margin: 0px 30px; border-color: black;">
            </div>
            <div style="padding: 50px;">
                Book Code: <span>{{cart.book.book_code}}</span><br><br>
                Book Name: <span>{{cart.book.book_name}}</span><br><br>
                Book Type: <span>{{cart.book.book_type}}</span><br><br>
                Author Name: <span>{{cart.book.author_name}}</span><br><br>
                Book Price: <span>{{cart.book.price}}</span><br><br>
                Book Quantity: <span>{{cart.book.quantity}}</span><br><br>
                <div class="product-event-items">
                    <a href="{% url 'add_to_cart' cart.book.id %}" class="btn cart-btn">
                        <span class="material-icons">shopping_cart_border</span>
                    </a>
                    <a href="{% url 'liked_books' cart.book.id %}" class="btn wishlist-btn" >
                        <span class="material-icons">favorite_border</span>
                    </a>
                </div>
                <form action="{% url 'remove_from_like' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{cart.book.book_code}}" name="code">
                    <input type="submit" value="Remove Book from Like" >
                </form>
                
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}