{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user %}
<table class="tab brown hd" bgcolor="black">
	<tr>
		<td>Hello, {{user}}</td>
	</tr>
</table>
{% endif %}

<table class="tab brown hd">
    <tr><br><br>
        <td>List of All Books</td>
    </tr>
</table>
<table class="tab brown hd">
    <tr>
        <td><div class="product-event-items">
            <a href="{% url 'view_cart' %}" class="btn cart-btn">
                <span class="material-icons">shopping_cart_border</span>
            </a>
            <a href="{% url 'view_liked_books' %}" class="btn wishlist-btn">
                <span class="material-icons">favorite_border</span>
            </a>
        </div>
    </td>
    </tr>
    
</table><br><br><br><br><hr><br>

<div class="product-item-section section-fluid-270 section-top-gap-100">
    <div class="box-wrapper">
        <div class="product-item-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="product-slider-3grids-1row" >
                            <div class="swiper-container">
                                <div class="swiper-wrapper"> 
                                    <div class="product-single-item-style-1 swiper-slide"  style="display: flex; flex-wrap: wrap; justify-content: center;">

                                        {% for book in all_books %}
                                        <div class="row">
                                        <div style="height: 550px; width: 500px; margin-left: 15%;">
                                        <a href="{% url 'details_view' book.id %}" class="image img-responsive"> 
                                            <img src="{{book.book_img.url}}" alt="image" class="img-fluid" style="height: 300px; width: 300px;">
<!--                                            <ul class="tooltip-tag-items">
                                                <li class="color-green">20%</li>
                                            </ul>-->
                                        </a>
                                        <div class="content">
                                            <div class="top">
                                                <span class="category">{{book.book_type}}</span>
                                                <h4 class="title">
                                                    <a href="{% url 'details_view' book.id %}">{{book.book_name}}</a>
                                                </h4>
                                                <span class="price">{{book.price}} Rs.   |   Rated by {{book.count}} users.</span>
                                            </div>
                                            <div>
                                                <h5>Average rating:
                                                    {{book.rating}}
                                                    <span class="fa fa-star {% if book.rating > 0 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if book.rating > 1 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if book.rating > 2 %} checked {% endif %}"></span>
                                                    <span class="fa fa-star {% if book.rating > 3 %} checked {% endif %}" ></span>
                                                    <span class="fa fa-star {% if book.rating > 4 %} checked {% endif %}"></span>
                                                </h5>
                                                <ul class="btn btn-light list-inline rating-list">
                                                    <li onclick="rate(5, {{ book.id }})">
                                                        <i class="fa fa-star {% if book.book_vise > 4 %} checked {% endif %}" title="Rate 5"></i></li>
                                                    <li onclick="rate(4, {{ book.id }})">
                                                        <i class="fa fa-star {% if book.book_vise > 3 %} checked {% endif %}" title="Rate 4"></i></li>
                                                    <li onclick="rate(3, {{ book.id }})">
                                                        <i class="fa fa-star {% if book.book_vise > 2 %} checked {% endif %}" title="Rate 3"></i></li>
                                                    <li onclick="rate(2, {{ book.id }})">
                                                        <i class="fa fa-star {% if book.book_vise > 1 %} checked {% endif %}" title="Rate 2"></i></li>
                                                    <li onclick="rate(1, {{ book.id }})">
                                                        <i class="fa fa-star {% if book.book_vise > 0 %} checked {% endif %}" title="Rate 1"></i></li>
                                                  </ul>  
                                                <div class="product-event-items">
                                                    <a href="{% url 'add_to_cart' book.id %}" class="btn cart-btn">
                                                        <span class="material-icons">shopping_cart_border</span>
                                                    </a>
                                                    <a href="{% url 'liked_books' book.id %}" class="btn wishlist-btn" >
                                                        <span class="material-icons">favorite_border</span>
                                                    </a>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function rate(rating, id) {
        $.ajax({
            url: "{% url 'rating' %}",
            method: "GET",
            data: { rating: rating, id: id },
            success: function (data) {
              if (data.status) {
                console.log(data.status)
                location.reload(); // Reload the page
              }
              else{
                location.reload(); // Reload the page
              }
            }
        });
              
    }
</script>


{% endblock content %}

