{% extends 'base.html' %}
{% load static %}
{% block content %}

<table class="tab brown hd">
    <tr><br><br><br><br>
        <td>List of All Liked Books</td>
    </tr>
</table><br><br><br><br><br>

<div style="display: flex; padding: 50px;">
    
    <div>
        <h2>All Liked Books:</h2>
        {% for cart in liked_books%}

        <div style="display: flex; padding: 50px;">
            <div style="background-color: gray; padding-top: 25px;">
                <img src="{{cart.book.book_img.url}}" alt="image" class="img-fluid" style="height: 300px; margin: 0px 30px; border-color: black;">
            </div>
            <div style="padding: 50px;">
                Book Code: <span>{{cart.book.book_code}}</span><br><br>
                Book Name: <span>{{cart.book.book_name}}</span><br><br>
                Book Type: <span>{{cart.book.book_type}}</span><br><br>
                Author Name: <span>{{cart.book.author_name}}</span><br><br>
                Book Price: <span>{{cart.book.price}}</span><br><br>
                Book Quantity: <span>{{cart.book.quantity}}</span><br><br>
                <form action="{% url 'remove_from_like' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{cart.book.book_code}}" name="code">
                    <input type="submit" value="Remove Book from Like" >
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}